.main img {
	display: block;
	overflow: auto;
	margin: 3px; 
	width: 1300px;
}

.blog {
float: left;
margin: 3px;
font-family: 'Oswald', sans-serif;
}

.about {


}

.name {


}

.Ironyard {


}

p {
margin-left: 60px;
width: 550px;
font-style: ;
}